@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &__inner {
    position: relative;
  }

  &__nav {
    display: block;
    position: absolute;
    background: #fff;
    @media (min-width: $md1) {
      top: 0 !important;
    }
    right: 0;
    padding: 27px 60px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    transition: all 0.3s linear;
    @media (max-width: $md2) {
      position: static;
      display: flex;
      justify-content: center;
    }
    @media (max-width: $md1) {
      display: flex;
      position: absolute;
      flex-direction: column;
      align-items: center;
      top: -500px;
      left: 0;
      margin-top: 50px;
      font-size: 30px;
    }
  }

  &__navLink {
    margin-right: 37px;
    &:last-child {
      margin-right: 0;
    }
    color: #000;
    @media (max-width: $md1) {
      margin-bottom: 70px;
      margin-right: 0;
    }
  }

  &__navLinkText {
  }

  &__button {
    @media (min-width: $md1) {
      display: none;
    }
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin: 18px 18px 0 0;
    cursor: pointer;
  }

  &__buttonLine {
    width: 30px;
    height: 2px;
    background: #000;
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about {
  &__inner {
    margin-top: 205px;
    display: flex;
    justify-content: space-between;
    @media (max-width: $md2) {
      flex-direction: column-reverse;
      margin-top: 33px;
    }
    @media (max-width: $md1) {
      margin-top: 83px;
      position: relative;
      z-index: -2;
    }
  }

  &__description {
    color: $dark-color;
    @media (min-width: $md2) {
      max-width: 506px;
    }
    @media (max-width: $md2) {
      display: block;
      margin: 0 auto;
      position: relative;
    }
    @media (max-width: $md1) {
      position: static;
    }
  }

  &__whoAmI {
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    margin-top: 20px;
    @media (max-width: $md2) {
      text-align: center;
      margin-top: 47px;
      line-height: 55px;
    }
    @media (max-width: $md1) {
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      padding: 0 45px;
    }
  }

  &__descriptionText {
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin: 35px 0 47px 0;
    @media (max-width: $md2) {
      margin: 21px 0 40px 0;
      text-align: center;
      max-width: 510px;
    }
  }

  &__resumeButton {
    padding: 9px 21px 9px 20px;
    background: $primary-color;
    border: none;
    border-radius: 2px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    min-width: 208px;
    @media (max-width: $md2) {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      margin-bottom: 70px;
    }
  }

  &__profilePictureWrapper {
    position: relative;
    max-width: 250px;
    @media (max-width: $md2) {
      left: 50%;
      transform: translate(-50%);
    }
  }

  &__profilePicture {
    width: 243px;
    height: 243px;
  }

  &__profilePictureOutline {
    display: inline-block;
    width: 243px;
    height: 243px;
    background: $grey-color;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    right: 5px;
    z-index: -1;
    @media (max-width: $md2) {
      right: 10px;
    }
  }
}
